---
import _beatmap from '../data/beatmap.json';
function toMMSS(seconds: number): string {
    if (!seconds) {
        return '0:00';
    }
    const numr = Math.floor(seconds);
    const temp = numr / 60;
    const min = temp < 0 ? `-${Math.ceil(temp).toString()}` : Math.floor(temp).toString();
    const sec = Math.abs(numr % 60)
        .toString()
        .padStart(2, '0');
    return `${min}:${sec}`;
};
interface Props {
    beatmapList: any;
    beatmapName: string;
}
interface BeatmapCard {
    _songName: string;
    _songSubname: string;
    _songAuthorName: string;
    _beatsPerMinute: {
        base: number;
        min: number;
        max: number;
    };
    _songDuration: number;
    _mapLink: {
        [key: string]: {
            name: string;
            url: string;
        }
    };
}
const { beatmapList, beatmapName } = Astro.props as Props;
const beatmap = _beatmap.find(x => x._songName.toLowerCase() === beatmapName.toLowerCase()) as BeatmapCard;
const coverURL = `/assets/img/cover/small/${beatmap._songName.toLowerCase().replace(' ', '-')}.jpg`
---
<div class="song-card">
    <img class="cover" alt={beatmap._songName} src={coverURL} loading="lazy">
    <div class="metadata">
        <span class="song-name">{beatmap._songName}</span>
        <span class="song-subname"></span><br>
        <span class="song-artist">{beatmap._songAuthorName}</span><br>
        <span class="song-bpm">{beatmap._beatsPerMinute._base}BPM</span><br>
        <span class="song-duration">{toMMSS(beatmap._songDuration)}</span><br>
        <br>
        <div>
            {Object.keys(beatmap._link).map((link) => 
                <a class="map-link" href={beatmap._link[link]._url}>{beatmap._link[link]._name}</a>
            )}
        </div>
    </div>
</div>

<style lang="scss">
    .cover {
        display: inline-block;
        width: 8em;
        height: 8em;
        margin: 0.5em;
        box-shadow: -0.25em 0.25em 0.5em black;
    }
    .metadata {
        display: inline-block;
        width: calc(100% - 10.375em);
        height: 8em;
        margin: 0.5em;
        vertical-align: top;
    }
    .map-link:not(:last-child) {
        &::after {
            content: '|';
            color: white;
            margin-left: 0.25em;
            margin-right: 0.25em;
            &:hover {
                color: white;
            }
        }
    }
    .song-name {
        font-size: 1.75rem;
    }
</style>
