---
export interface Props {
    post: any;
}
const { post } = Astro.props as Props;
const date = new Date(post.publishDate);
const monthName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
const dateString = `${monthName[date.getMonth()]} ${date.getUTCDate()}, ${date.getFullYear()}`;
---
<article class="post-preview">
    <header>
      <a href={post.url}><h3>{post.title}</h3></a>
      <time datetime={date.toISOString()}>{dateString}</time>
    </header>
    <main>
      <p>{post.description}</p>
      <a href={post.url}>Read more</a>
    </main>
</article>

<style lang="scss">
    article {
        margin-top: 1em;
        margin-bottom: 1em;
    }
</style>
